<!DOCTYPE html>
<html lang="en">

  <head>
  	<meta charset="utf-8">
  	<title>Vandy Apt</title>
  	<link rel="stylesheet" href="static/css/default.css">
  	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

    <header class="container group">

      <h1 class="logo">
        <a href="/">Vandy Apartment</a>
      </h1>

      <nav class="nav primary-nav">
        <a href="/">Home</a>
        <a href="temps">Temps</a>
        <a href="webcam">Webcam</a>
      </nav>

    </header>


    <section class="grid vertical-pad">

	  <!-- Temps -->
      <section class="center col-1-2">
        <img src="static/images/thermometer.jpg" width="150" height="75" >
        <a href="temps">          
          <h5>Temps</h5>
        </a>
        <p>Temperature Monitoring</p>
      </section><!-- 
            
      Webcam (this comment gets rid of empty whitespace between inline block elements)       
      --><section class="center col-1-2">
        <img src="static/images/beaglebone.jpg" width="150" height="75" >
        <a href="webcam">
          <h5>Webcam</h5>
        </a>
        <p>Remote Video Monitoring</p>
      </section>
      

    </section>

<!-- <footer class="primary-footer container group">

	  <small>&copy; Vandy Apt</small>

	  <nav class="nav">
		<a href="index.html">Home</a>
		<a href="temps.html">Temps</a>
		<a href="webcam.html">Webcam</a>
	  </nav>

	</footer> !-->

  </body>
</html>
