<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Temperature Monitoring</title>
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="/static/js/temps.js"></script>
  </head>
  
  <body>
    
	<header class="container group">

	  <h1 class="logo">
		<a href="/">Vandy Apartment</a>
	  </h1>
	  
	  <nav class="nav primary-nav">
		<a href="/">Home</a>
		<a href="temps">Temps</a>
		<a href="webcam">Webcam</a>
	  </nav>

	</header> 
   

		<section class="container center">	
			
			<section class="currentTemps" style="padding-bottom:75px;">
				<ul>
					<li id="current-inside-temp">Inside: N/A</li>
					<li id="current-outside-temp">Holland: N/A</li>
				</ul>
				
				
			</section>
					
			<div class="center vertRoom">	
				<button id="day" class="btn btn-alt" >Day</a>
				<button id="week" class="btn btn-alt" >Week</a>
				<button id="month" class ="btn btn-alt" >Month</button>
				<button id="all" class ="btn btn-alt" >All</button>
			</div>	
		   
		</section>	
		
		<section class="grid small-vert-pad">
				
				<section class="center col-2-3">
					<div id="chart"></div>  
				</section><!--	 
				--><section class="center col-1-3">
					<div class="test-parent">
					<div class="test">
					  <table class="gridtable">
					    <tr>
						  <th></th>
						  <th>Inside</th>
						  <th>Outside</th>
					    </tr>
					    <tr>
						  <td>Min</td>
						  <td id="min-inside"></td>
						  <td id="min-outside"></td>
					    </tr>
					    <tr>
						  <td>Max</td>
						  <td id="max-inside"></td>
						  <td id="max-outside"></td>
					    </tr>
					     <tr>
						  <td>Avg</td>
						  <td id="mean-inside"></td>
						  <td id="mean-outside"></td>
					    </tr>
					    <tr>
						  <td>Std Dev</td>
						  <td id="stddev-inside"></td>
						  <td id="stddev-outside"></td>
					    </tr>
					</table>					
				  </div>		
					</div>		
				</section>			
		</section>
		
<!--	 <footer class="primary-footer container group">

	  <small>&copy; Vandy Apt</small>

	  <nav class="nav">
		<a href="index.html">Home</a>
		<a href="temps.html">Temps</a>
		<a href="webcam.html">Webcam</a>
	  </nav>

	</footer> !-->
    
  </body>
</html>
