<!DOCTYPE html>
<html>
	<head>
		<title>Webcam</title>
		<link rel="stylesheet" href="/static/css/default.css">	
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
                <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
		<script>
			jQuery(document).ready(function(){
				jQuery.ajaxSetup({ timeout: 10000
				});
				function startWebcam()
				{
					var webcamOn = jQuery.post( "http://vandy.ydns.eu:8080/bbcontrol", { webcam: "start" }, function(data) {
						if(data.webcam == "started")
						{
							setTimeout(function(){
								document.getElementById('webcam-stream').src = "http://vandy.ydns.eu:8087/?action=stream";
								document.getElementById('webcam-stream').style.visibility = "visible";
							}, 500);
						}
						else
						{
							document.getElementById('webcam-stream').src = "//:0";
							document.getElementById('webcam-stream').style.visibility = "hidden";
						}
					}, 'json')
					.fail(function() {
						alert( "error starting webcam" );
						document.getElementById('webcam-stream').src = "//:0";
						document.getElementById('webcam-stream').style.visibility = "hidden";
					});
				}
	
	
				function stopWebcam()
				{
					var webcamOff = jQuery.post( "http://vandy.ydns.eu:8080/bbcontrol", { webcam: "stop"}, function(data) {}, 'json')
					.always(function() {
						document.getElementById('webcam-stream').src = "//:0";
						document.getElementById('webcam-stream').style.visibility = "hidden";
					});
				}
	
				function takePhoto()
				{
					var a = jQuery("<a>").attr("href", "http://vandy.ydns.eu:8087/?action=snapshot").attr("download","img1.png").appendTo("body");
					a[0].click();
					a.remove();
				}
				
				
				function webcamOffUI()
				{
					jQuery('#start-webcam').prop('disabled', false);
					jQuery('#stop-webcam').prop('disabled', true);
					jQuery('#take-picture').prop('disabled', true);
					jQuery('#slider').slider( 'option', 'disabled', true );	
				}
				
				function webcamRunningUI()
				{
					jQuery('#start-webcam').prop('disabled', true);
					jQuery('#stop-webcam').prop('disabled', false);
					jQuery('#take-picture').prop('disabled', false);
					jQuery('#slider').slider( 'option', 'disabled', false );				
				}			
				
				
				
				jQuery("#slider").slider(
				{
						value:90,
						min: 0,
						max: 180,
						step: 1,
						slide: function( event, ui ) {
							var updateServo = jQuery.post( "http://vandy.ydns.eu:8080/bbcontrol", { "servo-angle": ui.value }, function(data) {
								alert( data['servo-angle']);
							}, 'json');
						}
				});	
				webcamOffUI();
				document.getElementById('webcam-stream').style.visibility = "hidden";
				
				jQuery("#start-webcam").click( function() {
					startWebcam();
					webcamRunningUI();
				});	
				jQuery("#stop-webcam").click( function() {
					stopWebcam();
					webcamOffUI();
				});				
				jQuery('#take-picture').click( takePhoto );
				
					
			});

		//	jQuery(document).ready( stopWebcam );
		  	window.onbeforeunload = stopWebcam;
		</script>
	</head>
	<body>
    
    <header class="container group">

      <h1 class="logo">
        <a href="/">Vandy Apartment</a>
      </h1>

       <nav class="nav primary-nav">
        <a href="/">Home</a>
        <a href="temps">Temps</a>
        <a href="webcam">Webcam</a>
      </nav>

    </header>
    
    <section class="container center">
			
		<div class="center vertRoom">	
			<button id="start-webcam" class="btn btn-alt" >Start</a>
			<button id="stop-webcam" class="btn btn-alt" >Stop</a>
			<button id="take-picture" class ="btn btn-alt">Take Picture</button>
		</div>		
		
		<div id="slider" class="vertRoom"></div>
		
	 </section>
	
	<section class="container">
		<img id="webcam-stream" src="" alt="" width="900" height="450" >	
	</section>	
    
	<!--<footer class="primary-footer container group">

	  <small>&copy; Vandy Apt</small>

	  <nav class="nav">
		<a href="index.html">Home</a>
		<a href="temps.html">Temps</a>
		<a href="webcam.html">Webcam</a>
	  </nav>

	</footer> !-->
    
  </body>
</html>
